{% extends 'spa/base.html' %}
{% load static %}

{% block title %}
    Welcome to YutoriSpa
{% endblock %}

{% block content %}
<!-- Fullscreen background section -->
 
<div class="d-flex flex-column min-vh-100">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="text-center text-white">
            <h1 class="display-4">Welcome to YutoriSpa</h1>
            <p class="lead">Relax, rejuvenate, and recharge</p>
            <a href="{% url 'service_list' %}" class="btn btn-lg btn-primary">Explore Our Services</a>
        </div>
    </div>
</div>



<!-- Other content below the hero section -->
<div class="container mt-5">
    <!-- Add any other sections or content you'd like -->
</div>
{% endblock %}

