{% extends 'spa/base.html' %}
{% load static %}

{% block title %}Comprobación de Restablecimiento de Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Comprobación de Restablecimiento de Contraseña</h2>
    <p class="text-center">Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
    <p class="mt-3 text-center">
        <a href="{% url 'login' %}">Volver al inicio de sesión</a>
    </p>
</div>
{% endblock %}
