{% extends 'spa/base.html' %}

{% block title %}Our Services{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Our Exclusive Services</h1>
    <div class="row">
        {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card service-card service-{{ service.id }} shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                    <h6 class="text-muted mb-3">${{ service.price }}</h6>
                    <a href="{% url 'book_appointment'  %}" class="btn btn-primary btn-block">Book Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
