
body {
    background-color: #f0f2f5; 
    color: #f5f2f2;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


h2 {
    color: #343a40;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Navbar */

.navbar {
    background-color: #eaebb1; 
}

.navbar-brand {
    font-size: 1.5rem; 
}

.nav-link {
    color: #5a5a5a; 
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff; 
}

.nav-item .btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
}

.nav-item .btn-primary:hover {
    background-color: #0056b3; 
}

.navbar-toggler {
    border: none; 
}


/* Form */

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: 600;
    color: #495057;
}

form input, form select, form textarea {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #495057;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

/* form Booking Section */

.btn {
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.d-grid {
    display: grid;
}

/* Style Hero Section */

.hero-section {
    background-image: url("/static/images/explorebackground.jpeg"); 
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem;
}

.hero-content .btn {
    padding: 15px 30px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }
}

/* Services Style */
.service-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px; 
    overflow: hidden;
    height: 300px;
    background-size: cover; 
    background-position: center;
}

.service-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
}

/* Services img Style */
.service-1 {
    background-image: url('/static/images/spa1.jpg'); 
}

.service-2 {
    background-image: url('/static/images/spa2.jpg');
}

.service-3 {
    background-image: url('/static/images/sparelax.jpg');
}

.service-4 {
    background-image: url('/static/images/thaimassage.jpg');
}

.service-5 {
    background-image: url('/static/images/shouldersmassage.jpg');
}

.service-6 {
    background-image: url('/static/images/facialmassage.jpg');
}




/* Cards Styles */
.service-card .card-body {
    background-color: rgba(255, 255, 255, 0.8); 
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.service-card .card-title {
    font-weight: bold;
    color: #343a40;
}

.service-card .card-text {
    color: #6c757d;
}

.service-card .btn {
    background-color: #007bff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.service-card .btn:hover {
    background-color: #0056b3;
}

/* Estilos generales para las tarjetas */
.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

/* Estilo para botones */
.btn-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:hover {
    background-color: #ec971f;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Estilo para los modales */
.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-content {
    border-radius: 8px;
    border: none;
}

.modal-footer .btn {
    padding: 10px 20px;
}

/* Centrar mensaje cuando no hay citas */
.text-center p {
    font-size: 1.2rem;
    color: #999;
}

/* Espaciado entre citas */
.mb-4 {
    margin-bottom: 20px;
}

input[type="datetime-local"] {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ced4da;
}
